.pointer::before {
  content: '';
  display: block;
  background-color: #434343;
  position: absolute;
  top: -35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.pointer::after {
  width: 2px;
  height: 35px;
  content: '';
  display: block;
  background-color: #434343;
  position: absolute;
  top: -35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.current::before {
  background-color: #2a7aff;
  top: -55px;
}
.current::after {
  background-color: #2a7aff;
  top: -55px;
  height: 55px;
}
